
.s-icon {
  background-image: linear-gradient(180deg, #1a4868 0%, #13ace9 100% );
  color: white;
  font-size: 20px;
  padding: 5px ;
  padding-left: 9px;
  border-radius: 50%;
  text-align: center;
}
