<div class="row m-0" style="height: 1100px; font-family: Nunito Sans !important; background-color: rgb(248, 248, 248)">


  <aside class="col-md-8 " style=" background-color: black;">


  </aside>


  <div class="col-md-4 p-0 mt-5">


<!-- OLD HTML  -->
<div class="mt-5 pt-5 ">
  <div class="login-box">
      <div class="">
        <div class="card-body" >
          <div class="sidenav-header ml-5 ">
            <i class="fas fa-times p-3 cursor-pointer text-secondary opacity-5 position-absolute right-0 top-0 d-none d-xl-none"
              aria-hidden="true" id="iconSidenav"></i>
            <a class="navbar-brand m-0">
              <span class="s-icon">
                S
              </span>
              <span class="ml-3 font-weight-bolder text-lg" style="color:rgb(58, 206, 243)">Express Lands</span>
            </a>
          </div>
        <div class="ml-5 mr-5">
          <h1 class="login-box-msg pb-3 bold-black font-weight-bolder " style="font-size: 40px"> Login to <br>
            your Account</h1>
          <p class="pb-3 font-weight-bolder">Welcome back! Please login to your account</p>
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
            <div class="pb-3">
              <div class="input-group mb-2">
                <input type="text" class="form-control" placeholder="KTS1234567" formControlName="username"
                  [ngClass]="{ 'is-invalid': submitted &amp;&amp; loginForm.controls.username.errors }">

              </div>
              <div *ngIf="submitted &amp;&amp; loginForm.controls.username.errors" class="text-danger validation-error">
                <div *ngIf="loginForm.controls.username.errors.required">Username is required</div>
                <div *ngIf="loginForm.controls.username.errors.maxLength">Username must be under 45 characters</div>
              </div>

            </div>

            <div class="pb-3">
            <div class="input-group mb-2">
              <input [type]="fieldTextType ? 'text' : 'password'" class="form-control" placeholder="Enter Password" formControlName="password"
                [ngClass]="{ 'is-invalid': submitted &amp;&amp; loginForm.controls.password.errors }">

            </div>
            <div *ngIf="submitted &amp;&amp; loginForm.controls.password.errors" class="text-danger validation-error">
              <div *ngIf="loginForm.controls.password.errors.required">Password is required</div>
              <div *ngIf="loginForm.controls.password.errors.maxlength">Password length cannot be more than 20 characters</div>
            </div>
            </div>
            <div class="social-auth-links text-center mb-3">
              <button class="btn btn-block btn button-login text-white mt-4" style="background-color: #122e52;">
                LOG IN
              </button>
            </div>
          </form>
          <div class="login-remeber text-sm text-center mb-2">
            <a [routerLink]="['/']" style="margin-left: 5px;color: rgb(58, 206, 243);" >Forgot Password?</a>
          </div>

        </div>

      </div>

      <!-- /.login-card-body -->
    </div>
  </div>

</div>
<!-- End OLD HTML  -->








</div>
</div>
