<div class="row mt-2 pb-2">
    <div class="col-lg-8">
        <div class="card bg-gradient-primary" style="height: 270px !important">
            <div class="card-body " style="margin-bottom: -50px !important;">
              <div class="">
                <div class="col-lg-8 float-left" >
                  <div class="d-flex flex-column ">
                    <p class="mb-1 text-bold"> </p>
                    <h6 class="font-weight-bolder mt-4" style="color: #78C2ED;">WELCOME DR. Fayemi David</h6>
                    <p class=" mb-5 text-light" style="font-size: 12px;">See overview of analytics and reporting metrics and a lot more interesting stuffs you can do here.</p>
                    <div class="row">
                        <div class="col-lg-6">   
                    <button class="text-body shadow btn btn-light border-radius-xl p-1 text-sm   " href="javascript:;" style="width: 50px; color:#78C2ED  !important;">
                      View Your Appointment
                    </button>
                        </div>
                        <div class="col-lg-6">   
                            <button class="text-body shadow btn btn-light border-radius-xl p-1 text-sm   " href="javascript:;" style="width: 50px; color:#78C2ED !important;">
                              Go to Waiting Room
                            </button>
                    </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4  float-right" style="margin-bottom: px !important; left: 30px">
                  <div class="m mt-5 pt-5"  style="margin-left: -50px">
                   

                  </div>
                </div>
              </div>
            </div> 
    </div>
    </div>
