<div class="content-wrapper">
  <div class="content-header"></div>

  <!-- Main content -->
  <section class="content" data-select2-id="32">
    <div class="container-fluid" data-select2-id="31">
      <!-- SELECT2 EXAMPLE -->
      <div class="card card-secondary">
        <div class="card-header">
          <h3 class="card-title">Chart Settings</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <div class="card-body">
            <form [formGroup]="settingsForm" class="" (ngSubmit)="onSubmit(settingsForm.value)">
              <div class="form-row">
                <div class="form-group col-md-4">
                  <label for="chartId">Card </label>
                  <select class="form-control" formControlName="chartId"
                    [ngClass]="{ 'is-invalid': submitted &amp;&amp; settingsForm.controls.chartId.errors }">
                    <option value="">Select Card</option>
                    <option value="1">Play Budget </option>
                    <option value="2">Work Budget </option>
                    <option value="3">Card Count </option>
                  </select>
                  <div *ngIf="submitted &amp;&amp; settingsForm.controls.chartId.errors" class="text-danger">

                    <div *ngIf="settingsForm.controls.chartId.errors.required">
                      This is required
                    </div>
                  </div>
                </div>

                <div class="form-group col-md-4">
                  <label for="playSpent">Total Spent/In-use</label>
                  <div class="custom-file">
                    <input type="number" formControlName="playSpent" class="form-control"
                      [ngClass]="{ 'is-invalid': submitted &amp;&amp; settingsForm.controls.playSpent.errors }" />
                  </div>
                  <div *ngIf="submitted &amp;&amp; settingsForm.controls.playSpent.errors" class="text-danger">

                    <div *ngIf="settingsForm.controls.playSpent.errors.required">
                      This is required
                    </div>
                  </div>
                </div>
                  <div class="form-group col-md-4">
                    <label for="playBalance">Total Balance/Inactive</label>
                    <div class="custom-file">
                      <input type="number" formControlName="playBalance" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted &amp;&amp; settingsForm.controls.playBalance.errors }" />
                    </div>
                    <div *ngIf="submitted &amp;&amp; settingsForm.controls.playBalance.errors" class="text-danger">

                      <div *ngIf="settingsForm.controls.playBalance.errors.required">
                       This is required
                      </div>
                    </div>
                  </div>

              </div>

              <div class="form-row">
                <div class="form-group col-md-4">
                  <label for="playTitle">Card Title</label>
                  <div class="custom-file">
                    <input type="text" maxlength="10" formControlName="playTitle" class="form-control"
                      [ngClass]="{ 'is-invalid': submitted &amp;&amp; settingsForm.controls.playTitle.errors }" />
                  </div>
                  <div *ngIf="submitted &amp;&amp; settingsForm.controls.playTitle.errors" class="text-danger">

                    <div *ngIf="settingsForm.controls.playTitle.errors.pattern">
                      Only alphabets required
                    </div>
                    <div *ngIf="settingsForm.controls.playTitle.errors.required">
                      Card Title is required
                    </div>
                  </div>
                </div>
                <div class="form-group col-md-4">
                  <label for="playSpentColor">Spent Color  </label>
                  <select class="form-control"  formControlName="playSpentColor"
                    [ngClass]="{ 'is-invalid': submitted &amp;&amp; settingsForm.controls.playSpentColor.errors }">
                    <option value="">Select Color</option>
                    <option  value="#0330fc">Blue </option>
                    <option  value="#f0cc18">Yellow </option>
                    <option  value="#def50f">Orange </option>
                    <option value="#7b0fd9">Violet</option>
                    <option value="#09bd2a">Green</option>
                  </select>
                  <div *ngIf="submitted &amp;&amp; settingsForm.controls.playSpentColor.errors" class="text-danger">

                    <div *ngIf="settingsForm.controls.playSpentColor.errors.required">
                      This is required
                    </div>
                  </div>
                </div>
                <div class="form-group col-md-4">
                  <label for="playBalanceColor">Balance Color <sup class="ml-1 font-wegiht-bold text-danger">*</sup></label>
                  <select class="form-control" formControlName="playBalanceColor"
                    [ngClass]="{ 'is-invalid': submitted &amp;&amp; settingsForm.controls.playBalanceColor.errors }">
                    <option value="">Select Color</option>
                    <option value="#0330fc">Blue</option>
                    <option value="#f0cc18">Yellow</option>
                    <option value="#def50f">Orange</option>
                    <option value="#7b0fd9">Violet</option>
                    <option value="#09bd2a">Green</option>
                  </select>
                  <div *ngIf="submitted &amp;&amp; settingsForm.controls.playBalanceColor.errors" class="text-danger">

                    <div *ngIf="settingsForm.controls.playBalanceColor.errors.required">
                      This is required
                    </div>
                  </div>
                </div>
              </div>

              <button type="submit" class="btn btn-warning float-right mt-4 mb-5">
                Submit
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
